[submodule "ecb"]
	path = ecb
	url = https://github.com/emacsmirror/ecb.git
[submodule "emacs-rails"]
	path = emacs-rails
	url = git@github.com:stw/emacs-rails.git
[submodule "org-mode"]
	path = org-mode
	url = https://github.com/emacsmirror/org-mode.git
[submodule "weblogger"]
	path = weblogger
	url = https://github.com/emacsmirror/weblogger.git
