loaddefs.el*
backups/*
auto-save-list
*elc
places
url/cookies
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
session*
tramp
\#*
history
.org-id-locations
*.bak
ecb
emacs-rails
org-mode
steve/auth
elpa/zenburn-1.8/zenburn.el.orig
js2-mode/
rinari/
steve/log-commands.el
textmate/
